<?php

use ZfrStripe\Client\StripeClient;

return array(
    'zfr_stripe' => array(
        'secret_key' => '',
        'publishable_key' => '',
        'version' => StripeClient::LATEST_API_VERSION
    )
);
