<?php

use ZfrStripe\Client\StripeClient;

return [
    'zfr_stripe' => [
        'secret_key' => '',
        'publishable_key' => '',
        'version' => StripeClient::LATEST_API_VERSION,
    ],
];
